.footer1 {
  height: 200px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 70px;
}

.footer-log {
  font-weight: bold;
  font-size: 30px;
  flex-basis: 6;
}

.location h3 {
  margin-bottom: 10px;
}

.contact h3 {
  margin-bottom: 10px;
}

.contact p {
  padding-bottom: 5px;
}

.follow h3 {
  margin-bottom: 5px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cir {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer2 {
  background-color: rgb(43, 43, 43);
  color: rgb(138, 137, 137);
  padding: 10px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer2 .space {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .footer1 {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 300px;
  }
  .social{
    display: none;
  }

  .footer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
  }
  .footer2 p{
    width: 100%;
  }
}
